/* Configuración general */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header{
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #07b002;
    color: white;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
}



/* Estilo del menú de navegación */
nav {
    background: #058120;
    color: #fff;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background: #11942e;
    border-radius: 5px;
}

/* Sección general */
section {
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

h1, h2 {
    text-align: center;
    color: #25ca65;
    font-family: 'Arial Black', sans-serif;
}

p {
    font-size: 1.1em;
    line-height: 1.8;
    text-align: justify;
}


h1, h2 {
    text-align: center;
    color: #25ca65;
}

#inicio {
    background: linear-gradient(to right, #c8e6c9, #a5d6a7); /* Verde menta */

}

#presentacion {
    background: linear-gradient(to right, #c8e6c9, #a5d6a7); /* Verde menta */

}

#porque {
    background: linear-gradient(to right, #c8e6c9, #a5d6a7); /* Verde menta */
}

#localizacion {
    background: linear-gradient(to right, #c8e6c9, #a5d6a7); /* Verde menta */

}
